<mat-tab-group animationDuration="500ms" #tabGroup>
  <!-- TAB 1 -->
  <mat-tab label="Bandeja de Entrada">
    <ng-template mat-tab-label>
      <img src="assets/images/information.png" width="22" height="22" />
      Bandeja de Entrada
    </ng-template>

    <mat-card>
      <mat-table [dataSource]="dataSource1" matSort class="responsive-table">
        <!-- ID Column -->
        <ng-container matColumnDef="tipoOrganizacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Tipo Organización
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="tipoOrganizacion">
            {{ x.tipoExplotador }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="organizacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Organización
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="organizacion">
            {{ x.nombreOrganizacion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaAsignacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha Asignación
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="fechaAsignacion">
            {{ x.fechaAsignacion | date }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Estado
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="estado">
            {{ x.estado }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Acciones
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="acciones">
            <button mat-icon-button color="primary" (click)="editar(x)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminar(x)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Header and Row Definitions -->
        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas"></mat-row>
      </mat-table>
    </mat-card>
  </mat-tab>
  <!-- TAB 2 -->

  <!--
    <form [formGroup]="form">
      <mat-label>Organizacion </mat-label>
      <input matInput formControlName="companyName" readonly />

      <mat-label>Tipo de Organización </mat-label>
      <input matInput formControlName="location" readonly />
    </form>
-->
  <mat-tab label="Planificación">
    <ng-template mat-tab-label>
      <img src="assets/images/information.png" width="22" height="22" />
      Planificación
    </ng-template>

    <mat-stepper labelPosition="bottom" orientation="horizontal" #stepper>
      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">IdR</p>
          <p *ngIf="!isMobile">Indicador de Riesgo (IdR)</p>
        </ng-template>

        <mat-card>
          <form [formGroup]="form">
            <mat-table
              [dataSource]="dataSource3"
              matSort
              class="responsive-table"
            >
              <ng-container matColumnDef="nro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nro.
                </mat-header-cell>

                <mat-cell
                  *matCellDef="let row; let i = index"
                  data-label="Nro."
                >
                  {{ row.correlativo }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="parametro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Perfil de Riesgo de la Organización
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row; let i = index"
                  data-label="Perfil de Riesgo de la Organización"
                >
                  {{ row.parametroRiesgosOrganizacion }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nivel3">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nivel 3 (menos deseable)
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row; let i = index"
                  data-label="Nivel 3 (menos deseable)"
                >
                  {{ row.nivelTresMenosDeseableo }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nivel2">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nivel 2 (promedio)
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row; let i = index"
                  data-label="Nivel 2 (promedio)"
                >
                  {{ row.nivelDosPromedio }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nivel1">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nivel 1 (más deseable)</mat-header-cell
                >
                <mat-cell
                  *matCellDef="let row; let i = index"
                  data-label="Nivel 1 (más deseable)"
                >
                  {{ row.nivelUnoMasDeseable }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="resultadoNivel">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Resultado Nivel
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row; let i = index"
                  data-label="Resultado Nivel"
                  [formGroup]="getFormGroupById(row.id)"
                >
                  <mat-form-field appearance="fill" style="width: 100px">
                    <mat-select formControlName="resultadoNivel">
                      <mat-option *ngFor="let nivel of niveles" [value]="nivel">
                        {{ nivel }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>

            <mat-paginator
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            >
            </mat-paginator>

            <!--DDDDDDDDDDDDDDDDDddddd-->
            <div
              style="
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
                margin-top: 20px;
                width: 100%;
              "
            >
              <table class="tabla-estilo">
                <tr style="background-color: #0b3464; color: white">
                  <td colspan="2"><strong>RESULTADO POR NIVEL</strong></td>
                  <td colspan="2">
                    <strong>RESULTADO DE LA EVALUACIÓN</strong>
                  </td>
                </tr>
                <tr>
                  <td>Nivel 1:</td>
                  <td>
                    <strong>{{ nivel1Count }}</strong>
                  </td>
                  <td>Puntos totales:</td>
                  <td>
                    <strong>{{ sumaResultadoPonderado }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Nivel 2:</td>
                  <td>
                    <strong>{{ nivel2Count }}</strong>
                  </td>
                  <td>Categoría ORP:</td>
                  <td style="background-color: #cbe8f0">
                    <strong>{{ determinarCategoriaORP() }}</strong>
                  </td>
                </tr>
                <tr>
                  <td>Nivel 3:</td>
                  <td>
                    <strong>{{ nivel3Count }}</strong>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>N/A:</td>
                  <td>
                    <strong>{{ nivelNA }}</strong>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-card>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">IdE</p>
          <p *ngIf="!isMobile">Indicador de Exposición (IdE)</p>
        </ng-template>
        <!--tab2 -->
        <mat-card>
          <form [formGroup]="formIndicador1">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z2">
              <!-- Criterio -->
              <ng-container matColumnDef="criterio">
                <mat-header-cell *matHeaderCellDef> Criterio </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                  {{ row.criterio }}
                </mat-cell>
              </ng-container>

              <!-- Calificación -->
              <ng-container matColumnDef="calificacion">
                <mat-header-cell *matHeaderCellDef>
                  Calificación
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                  {{ row.calificacion }}
                </mat-cell>
              </ng-container>

              <!-- Valor Resultado -->
              <ng-container matColumnDef="valorResultado">
                <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                  <div [formGroup]="getRowFormGroup(i)">
                    <mat-form-field appearance="fill">
                      <mat-select formControlName="valor">
                        <mat-option *ngFor="let v of [1, 2, 3]" [value]="v">{{
                          v
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns1"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns1"
              ></mat-row>
            </mat-table>

            <!-- Mostrar suma y categoría en tiempo real -->
            <div style="margin-top: 20px">
              <strong>Suma total: {{ total }}</strong
              ><br />
              <strong>Categoría: {{ categoria }}</strong>
            </div>
          </form>
        </mat-card>

        <!-- fin tab 2-->
        <!--<mat-label>company name</mat-label>
        <input matInput formControName="cname" />
        <br />
        <mat-label>location</mat-label>
        <input matInput formControName="location" />-->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">NIV</p>
          <p *ngIf="!isMobile">Nivel de Intensidad de Vigilancia</p>
        </ng-template>
 
 
 <mat-card class="matriz-card">
  <h3 class="titulo-matriz">Tabla D1 – Matriz de intensidad de la vigilancia</h3>

  <table mat-table [dataSource]="matriz" class="matriz-table">

    <!-- Cabeceras horizontales de riesgo -->
    <ng-container *ngFor="let col of columnasRiesgo" [matColumnDef]="col.valor">
      <th mat-header-cell *matHeaderCellDef class="header-cell"> {{ col.valor }} </th>
      <td mat-cell *matCellDef="let row">
          <div [ngClass]="getColorClass(+col.valor, row.exposicion)">

          {{ col.valor + row.exposicion }}
        </div>
      </td>
    </ng-container>

    <!-- Columna fija vertical izquierda (Exposición) -->
    <ng-container matColumnDef="exposicionTexto">
      <th mat-header-cell *matHeaderCellDef class="header-cell"> INDICADOR DE EXPOSICIÓN </th>
      <td mat-cell *matCellDef="let row"> {{ row.exposicionTexto }} </td>
    </ng-container>

    <!-- Fila de encabezado -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>

    <!-- Filas de datos -->
    <tr mat-row *matRowDef="let row; columns: columnasVisibles"></tr>

  </table>

  <!-- Leyenda inferior -->
  <div class="leyenda">
    <div>INDICADOR DE RIESGO</div>
    <div class="leyenda-items">
      <div *ngFor="let col of columnasRiesgo">
        <strong>{{ col.valor }}</strong><br>
        {{ col.texto }}
      </div>
    </div>
  </div>

  {{categoria}}
  {{determinarCategoriaORP()}}
</mat-card>


 
 
 
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">CV</p>
          <p *ngIf="!isMobile">Cronograma de Vigilancia</p>
        </ng-template>

        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
    </mat-stepper>
  </mat-tab>
</mat-tab-group>
