<mat-tab-group animationDuration="500ms" #tabGroup>
  <!-- TAB 1 -->
  <mat-tab label="Bandeja de Entrada">
    <ng-template mat-tab-label>
      <img src="assets/entrada.png" width="22" height="22" />
      Bandeja de Entrada
    </ng-template>

    <mat-card>
      <mat-table [dataSource]="dataSource1" matSort class="responsive-table">
        <!-- ID Column -->
        <ng-container matColumnDef="tipoOrganizacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Tipo Organización
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="tipoOrganizacion">
            {{ x.tipoExplotador }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="organizacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Organización
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="organizacion">
            {{ x.nombreOrganizacion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaAsignacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha Asignación
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="fechaAsignacion">
            {{ x.fechaAsignacion | date }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Estado
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="estado">
            {{ x.estado }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Acciones
          </mat-header-cell>
          <mat-cell *matCellDef="let x" data-label="acciones">
            <button mat-icon-button color="primary" (click)="editar(x)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminar(x)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Header and Row Definitions -->
        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas"></mat-row>
      </mat-table>
    </mat-card>
  </mat-tab>
  <!-- TAB 2 -->

  <!--
    <form [formGroup]="form">
      <mat-label>Organizacion </mat-label>
      <input matInput formControlName="companyName" readonly />

      <mat-label>Tipo de Organización </mat-label>
      <input matInput formControlName="location" readonly />
    </form>
-->
  <mat-tab label="Evaluación">
    <ng-template mat-tab-label>
      <img src="assets/plan.png" width="22" height="22" />
      Evaluación
    </ng-template>

    <mat-stepper labelPosition="bottom" orientation="horizontal" #stepper>
      <mat-step>
        <!-- desde hasta aqui indicador de riesgo-->
        <ng-template matStepLabel>
          <p *ngIf="isMobile">IdR</p>
          <p *ngIf="!isMobile">Indicador de Riesgo (IdR)</p>
        </ng-template>

        <mat-tab-group>
          <mat-tab label="ORP">
            <div class="tab-content">
              Contenido ORP

              <mat-card>
                <!--Desde aqui-->
                <form [formGroup]="form">
                  <mat-table
                    [dataSource]="dataSource3"
                    matSort
                    class="responsive-table"
                  >
                    <ng-container matColumnDef="nro">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nro.
                      </mat-header-cell>

                      <mat-cell
                        *matCellDef="let row; let i = index"
                        data-label="Nro."
                      >
                        {{ row.correlativo }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="parametro">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Perfil de Riesgo de la Organización
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        data-label="Perfil de Riesgo de la Organización"
                      >
                        {{ row.parametroRiesgosOrganizacion }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nivel3">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nivel 3 (menos deseable)
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        data-label="Nivel 3 (menos deseable)"
                      >
                        {{ row.nivelTresMenosDeseableo }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nivel2">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nivel 2 (promedio)
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        data-label="Nivel 2 (promedio)"
                      >
                        {{ row.nivelDosPromedio }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nivel1">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nivel 1 (más deseable)</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        data-label="Nivel 1 (más deseable)"
                      >
                        {{ row.nivelUnoMasDeseable }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="resultadoNivel">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Resultado Nivel
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        data-label="Resultado Nivel"
                        [formGroup]="getFormGroupById(row.id)"
                      >
                        <mat-form-field appearance="fill" style="width: 100px">
                          <mat-select formControlName="resultadoNivel">
                            <mat-option
                              *ngFor="let nivel of niveles"
                              [value]="nivel"
                            >
                              {{ nivel }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>

                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [ngClass]="{
                        'fila-destacada': row.idParamTipoPregunta !== 1
                      }"
                    ></mat-row>
                  </mat-table>

                  <mat-paginator
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                  >
                  </mat-paginator>

                  <!--DDDDDDDDDDDDDDDDDddddd-->
                  <div
                    style="
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      gap: 24px;
                      margin-top: 20px;
                      width: 100%;
                    "
                  >
                    <table class="tabla-estilo">
                      <tr style="background-color: #0b3464; color: white">
                        <td colspan="2">
                          <strong>RESULTADO POR NIVEL</strong>
                        </td>
                        <td colspan="2">
                          <strong>RESULTADO DE LA EVALUACIÓN</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>Nivel 1:</td>
                        <td>
                          <strong>{{ nivel1Count }}</strong>
                        </td>
                        <td>Puntos totales:</td>
                        <td>
                          <strong>{{ sumaResultadoPonderado }}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>Nivel 2:</td>
                        <td>
                          <strong>{{ nivel2Count }}</strong>
                        </td>
                        <td>Categoría ORP:</td>
                        <td style="background-color: #cbe8f0">
                          <strong>{{ determinarCategoriaORP() }}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>Nivel 3:</td>
                        <td>
                          <strong>{{ nivel3Count }}</strong>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>N/A:</td>
                        <td>
                          <strong>{{ nivelNA }}</strong>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="NCR">
            <!--
            <div class="center-container">
              <form [formGroup]="formAerodromo">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Seleccione Aeródromo</mat-label>
                  <mat-select
                    formControlName="aerodromo"
                    (selectionChange)="seleccionarAerodromo()"
                  >
                    <mat-option
                      *ngFor="let aero of aerodromos"
                      [value]="aero.codigo"
                    >
                      {{ aero.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>

              <p *ngIf="formAerodromo.value.aerodromo">
                Seleccionado:
                <strong>{{ formAerodromo.value.aerodromo }}</strong>
              </p>
            </div> -->
            <div>
              <table class="form-container">
                <tr>
                  <td>
                    <form [formGroup]="formAerodromo">
                      <mat-form-field appearance="fill" class="w-full">
                        <mat-label>AERÓDROMO</mat-label>
                        <mat-select
                          formControlName="aerodromo"
                          (selectionChange)="seleccionarAerodromo()"
                        >
                          <mat-option
                            *ngFor="let aero of aerodromos"
                            [value]="aero.codigo"
                          >
                            {{ aero.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </td>
                  <td>
                    <p *ngIf="formAerodromo.value.aerodromo">
                      Código de aeródromo seleccionado:
                      <strong>{{ formAerodromo.value.aerodromo }}</strong>
                    </p>
                  </td>
                  <td>
                    <p *ngIf="formAerodromo.value.aerodromo">
                      <strong>Valor NCR : </strong>

                      <button
                        mat-icon-button
                        color="accent"
                        (click)="verDetalleNcr()"
                        matTooltip="Ver Detalle del Nivel de Cumplimiento Reglamentario"
                      >
                        <mat-icon>view_list</mat-icon>
                      </button>
                    </p>
                  </td>
                </tr>
              </table>
              <div class="tabla-container" *ngIf="dataSourceLv.length > 0">
                <table
                  mat-table
                  [dataSource]="dataSourceLv"
                  class="tabla-aerodromo"
                >
                  <!-- LV -->
                  <ng-container matColumnDef="lv">
                    <th mat-header-cell *matHeaderCellDef>LV</th>
                    <td mat-cell *matCellDef="let row">{{ row.lv }}</td>
                  </ng-container>

                  <!-- Lista Verificación -->
                  <ng-container matColumnDef="listaVerificacion">
                    <th mat-header-cell *matHeaderCellDef>
                      Lista verificación
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.listaVerificacion }}
                    </td>
                  </ng-container>

                  <!-- Satisfactorio -->
                  <ng-container matColumnDef="satisfactorio">
                    <th mat-header-cell *matHeaderCellDef>Satisf.</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.satisfactorio }}
                    </td>
                  </ng-container>

                  <!-- Insatisfactorio -->
                  <ng-container matColumnDef="insatisfactorio">
                    <th mat-header-cell *matHeaderCellDef>Insatisf.</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.insatisfactorio }}
                    </td>
                  </ng-container>

                  <!-- No Aplica -->
                  <ng-container matColumnDef="noAplica">
                    <th mat-header-cell *matHeaderCellDef>No Aplica</th>
                    <td mat-cell *matCellDef="let row">{{ row.noAplica }}</td>
                  </ng-container>

                  <!-- Observado -->
                  <ng-container matColumnDef="observado">
                    <th mat-header-cell *matHeaderCellDef>Observado</th>
                    <td mat-cell *matCellDef="let row">{{ row.observado }}</td>
                  </ng-container>

                  <!-- Total Preguntas -->
                  <ng-container matColumnDef="totalPreguntas">
                    <th mat-header-cell *matHeaderCellDef>Total Preguntas</th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.totalPreguntas }}
                    </td>
                  </ng-container>

                  <!-- 🔹 Detalle -->
                  <ng-container matColumnDef="detalle">
                    <th mat-header-cell *matHeaderCellDef>Detalle</th>
                    <td mat-cell *matCellDef="let row">
                      <button
                        mat-stroked-button
                        color="primary"
                        (click)="verDetalle(row)"
                      >
                        Ver detalle
                      </button>
                    </td>
                  </ng-container>

                  <!-- 🔹 Gráfico -->
                  <ng-container matColumnDef="grafico">
                    <th mat-header-cell *matHeaderCellDef>Gráfico</th>
                    <td mat-cell *matCellDef="let row">
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="verGrafico(row)"
                      >
                        <mat-icon>bar_chart</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="listaVerificacion"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: listaVerificacion"
                  ></tr>
                </table>
                <!-- 🔹 Tabla de totales alineada -->
                <!-- 🔸 Totales alineados -->
                <div class="fila-totales">
                  <div class="col total-label" style="grid-column: span 2">
                    Total
                  </div>
                  <div class="col">{{ getTotal("satisfactorio") }}</div>
                  <div class="col">{{ getTotal("insatisfactorio") }}</div>
                  <div class="col">{{ getTotal("noAplica") }}</div>
                  <div class="col">{{ getTotal("observado") }}</div>
                  <div class="col">{{ getTotal("totalPreguntas") }}</div>
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="SMS">
            <div>Contenido SMS</div>
          </mat-tab>
        </mat-tab-group>

        <!-- hasta aqui indicador de riesgo-->
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">IdE</p>
          <p *ngIf="!isMobile">Indicador de Exposición (IdE)</p>
        </ng-template>
        <!--tab2 -->
        <mat-card>
          <form [formGroup]="formIndicador1">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z2">
              <!-- Criterio -->
              <ng-container matColumnDef="criterio">
                <mat-header-cell *matHeaderCellDef> Criterio </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                  {{ row.criterio }}
                </mat-cell>
              </ng-container>

              <!-- Calificación -->
              <ng-container matColumnDef="calificacion">
                <mat-header-cell *matHeaderCellDef>
                  Calificación
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                  {{ row.calificacion }}
                </mat-cell>
              </ng-container>

              <!-- Valor Resultado -->
              <ng-container matColumnDef="valorResultado">
                <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index">
                  <div [formGroup]="getRowFormGroup(i)">
                    <mat-form-field appearance="fill">
                      <mat-select formControlName="valor">
                        <mat-option *ngFor="let v of [1, 2, 3]" [value]="v">{{
                          v
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns1"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns1"
              ></mat-row>
            </mat-table>

            <!-- Mostrar suma y categoría en tiempo real -->
            <div
              style="
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
                margin-top: 20px;
                width: 100%;
              "
            >
              <table class="tabla-estilo">
                <tr style="background-color: #0b3464; color: white">
                  <td><strong>SUMA TOTAL</strong></td>
                  <td>
                    <strong>CATEGORIA</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong> {{ total }}</strong>
                  </td>

                  <td style="background-color: #cbe8f0">
                    <strong>{{ categoria }}</strong>
                  </td>
                </tr>
              </table>
            </div>
          </form>
        </mat-card>

        <!-- fin tab 2-->
        <!--<mat-label>company name</mat-label>
        <input matInput formControName="cname" />
        <br />
        <mat-label>location</mat-label>
        <input matInput formControName="location" />-->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">MIV</p>
          <p *ngIf="!isMobile">Matriz de Intensidad de Vigilancia</p>
        </ng-template>
        <mat-card class="matriz-card">
          <h3 class="titulo-matriz">Matriz de intensidad de la vigilancia</h3>

          <div class="contenedor-matriz">
            <!-- Leyenda vertical al lado izquierdo -->
            <div class="leyenda-vertical">INDICADOR DE EXPOSICIÓN</div>

            <!-- Tabla con leyenda inferior incluida -->
            <table mat-table [dataSource]="matriz" class="matriz-table">
              <!-- Columnas de riesgo -->
              <ng-container
                *ngFor="let col of columnasRiesgo"
                [matColumnDef]="col.valor"
              >
                <th mat-header-cell *matHeaderCellDef class="header-cell">
                  {{ col.valor }}
                </th>
                <td mat-cell *matCellDef="let row">
                  <div
                    [ngClass]="getColorClass(+col.valor, row.exposicion)"
                    [matTooltip]="mostrarTooltip(+col.valor, row.exposicion)"
                    matTooltipPosition="above"
                    *ngIf="col.valor && row.exposicion"
                  >
                    {{ col.valor + row.exposicion }}
                  </div>
                </td>

                <!-- Footer cell para leyenda -->
                <td mat-footer-cell *matFooterCellDef>
                  <div class="leyenda-celda">
                    <strong>{{ col.valor }}</strong
                    ><br />
                    {{ col.texto }}
                  </div>
                </td>
              </ng-container>

              <!-- Columna de exposición -->
              <ng-container matColumnDef="exposicionTexto">
                <th mat-header-cell *matHeaderCellDef class="header-cell"></th>
                <td mat-cell *matCellDef="let row">
                  {{ row.exposicionTexto }} {{ row.exposicion }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Filas de datos -->
              <tr mat-row *matRowDef="let row; columns: columnasVisibles"></tr>

              <!-- Fila de leyenda -->
              <tr mat-footer-row *matFooterRowDef="columnasVisibles"></tr>
            </table>
          </div>

          <div class="leyenda-horizontal">INDICADOR DE RIESGO</div>

          <table border="0">
            <tr class="titulo-matriz">
              <td colspan="4">Valor de la Matriz</td>
            </tr>
            <tr class="titulo-matriz">
              <td>IDR</td>
              <td>IDE</td>
              <td>Intensidad de Vigilancia</td>
            </tr>
            <tr>
              <td>{{ determinarCategoriaORP() }}</td>
              <td>{{ categoria }}</td>
              <td style="width: 200px">
                <div *ngIf="resultadoFinal as rf">
                  <div
                    [ngStyle]="{
                      'background-color': getNivelIntensidad(rf.resultadoCruce)
                        .color,
                      color: 'white',
                      padding: '1px',
                      'border-radius': '8px',
                      'text-align': 'center',

                      'margin-top': '1rem'
                    }"
                  >
                    <div>Resultado: {{ rf.resultadoCruce }}</div>
                    <div>
                      {{ getNivelIntensidad(rf.resultadoCruce).nivel }}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </mat-card>
        <!-- inicio de la muestra -->

        <!-- <form [formGroup]="formularioMuestra">-->
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="criterio">
            <mat-header-cell *matHeaderCellDef> Criterio </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
              {{ row.criterio }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="poblacion">
            <mat-header-cell *matHeaderCellDef="poblacion">
              Población
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
              <mat-form-field appearance="fill">
                <mat-select
                  formControlName="poblacion"
                  placeholder="Seleccionar"
                >
                  <mat-option
                    *ngFor="let rango of poblacionRangos"
                    [value]="rango.valor"
                  >
                    {{ rango.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <!-- Columna de Resultado-->
          <ng-container matColumnDef="resultado">
            <mat-header-cell *matHeaderCellDef> Resultado </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">
              {{ getResultado(i) }}
            </mat-cell>
          </ng-container>

          <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
        </mat-table>
        <!-- </form>-->

        <!-- fin de la muestra-->

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">DE</p>
          <p *ngIf="!isMobile">Datos Especificos</p>
        </ng-template>
        1

        <button mat-button matStepperPrevious>Back</button>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <p *ngIf="isMobile">CV</p>
          <p *ngIf="!isMobile">Cronograma de Vigilancia</p>
        </ng-template>

        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
    </mat-stepper>
  </mat-tab>
</mat-tab-group>
